/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Reset Styles */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Variables */

:root {
    --very-dark-blue: hsl(233, 47%, 7%); /* main background */
    --dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
    --soft-violet: hsl(277, 64%, 61%); /* accent */
    --white: hsl(0, 0%, 100%); /* main heading, stats */
    --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75); /* main paragraph */
    --slightly-transparent-white-stats: hsla(0, 0%, 100%, 0.6); /* stat headings */
}

/* Body Styles */

body {
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main Styles */

main {
    background-color: var(--dark-desaturated-blue);
    width: 90%;
    max-width: 1440px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    max-width: 100%;
    background-color:var(--soft-violet);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-container img {
    max-width: 100%;
    mix-blend-mode: overlay;
}

.desktop-image {
    display: none;
}

.content-container {
    max-width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-weight: 700;
    padding: 3%;
}

h1 span {
    color: var(--soft-violet);
}

.content-container p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--slightly-transparent-white-main);
    font-size: 1em;
    padding: 3%;
    line-height: 1.75em;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stats div .stat-value {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 700;
}

.stats div .stat-category {
    text-transform: uppercase;
    color: var(--slightly-transparent-white-stats);
}

/* Footer Styles */

footer {
    padding: 2%;
    color: var(--soft-violet);
}

.attribution a {
    color: var(--slightly-transparent-white-stats);
}

/* Media Queries */

@media screen and (min-width: 768px) {
    main {
        background-color: var(--dark-desaturated-blue);
        border-radius: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:left;
    }

    .content-container {
        flex-basis: 50%;
    }

    .image-container {
        background-color:var(--soft-violet);
        border-radius: 0;
    }

    .image-container img {
        height: 100%;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
        width: 100%; 
    } 

}

@media screen and (min-width: 1200px) {
    main {
        background-color: var(--dark-desaturated-blue);
        width: 80%;
        border-radius: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:left;
    }

    .image-container {
        background-color:var(--soft-violet);
        height: 100%;
        border-radius: 0 10px 10px 0;
        flex-shrink: 0;
    }

    .image-container img {
        height: 100%;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: inline;
        width: 100%;
        
    }

    .content-container {
        max-width: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        text-align: left;
        font-size: 15px;
    }

    .stats {
        width: 95%;
        padding-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


}
/* Helpful Resources */

/* Mix Blend mode - https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode */
/* Prevent Image from Shrinking with Flexbox - https://befused.com/css/flexbox-prevent-image-shrinking/ */


    
